{% assign share_url = page.url | absolute_url | url_encode | replace: '+', '%20' %}
{% assign share_text = page.title | url_encode | replace: '+', '%20' %}
<div class="share-row">
  <strong>Share this issue:</strong>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}" target="_blank" rel="noopener">LinkedIn</a>
  <a href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text={{ share_text }}" target="_blank" rel="noopener">X</a>
  <a href="https://bsky.app/intent/compose?text={{ share_text }}%20{{ share_url }}" target="_blank" rel="noopener">Bluesky</a>
  <a href="mailto:?subject={{ share_text }}&amp;body={{ share_url }}">Email</a>
</div>
